export PATH=$PWD/bin:$PATH

if [ ! -f config/settings.local.yml ]; then
  echo 'ローカル環境設定ファイル config/settings.local.yml を作成してください'
  echo '  $ cp config/settings.local.yml.sample config/settings.local.yml'
  echo '  $ vi config/settings.local.yml'
  echo '  $ direnv reload'
fi
