db:
  name: nippo
  host: localhost
  port: 3306
  user: user
  pass: pass

google:
  api_client:
    id: xxxx-xxxxxxxxxxxxxx.apps.googleusercontent.com
    secret: xxxxxxxxxxx

nippo:
  send_to: 'xxx@xxxxx.xx'
