db:
  name: nippo
  host: localhost
  port: 3306
  user: user
  pass: pass

google:
  web_main:
    api_client:
      id: xxxx-xxxxxxxxxxxxxx.apps.googleusercontent.com
      secret: xxxxxxxxxxx

  whitelist_batch:
    api_client:
      id: xxxx-xxxxxxxxxxxxxx.apps.googleusercontent.com
      secret: xxxxxxxxxxx
    refresh_token: xxxxxxxxxxxxxxxxxxxx
    target_group: xxxx@xxxx.xx

nippo:
  send_to: 'xxx@xxxxx.xx'

# for production
secret_key_base: xxxxxxxxxxxxxxxxxxxxxxx

skylight:
  authentication: xxxxxxxxxxxxxxxxxxxxxx

sentry:
  private_dsn: xxxxxxxxxxxxxxxxxxxxx
  public_dsn: xxxxxxxxxxxxxxxxxxxxx
